@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["IsSuccess"] != null)
{
    bool isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    string resultMessage = TempData["ResultMessage"]?.ToString() ?? "";

    <div class="container mt-5">
        @if (isSuccess)
        {            
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                @resultMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @resultMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>           
        }
    </div>
}

<div class="text-center" style="height:70vh;">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-danger m-4" asp-controller="User" asp-action="LoadData">Load data</a>    
</div>
